In [1]:
!pip install jsonpath_ng

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting jsonpath_ng
  Downloading jsonpath_ng-1.5.3-py3-none-any.whl (29 kB)
Collecting ply (from jsonpath_ng)
  Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.6/49.6 kB 5.9 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from jsonpath_ng) (4.4.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from jsonpath_ng) (1.16.0)
Installing collected packages: ply, jsonpath_ng
Successfully installed jsonpath_ng-1.5.3 ply-3.11

In [2]:
import os
import json
import numpy as np 
import pandas as pd 
import sqlite3
import functools as ft
import matplotlib.pyplot as plt
from abc import ABC, abstractmethod
from jsonpath_ng import parse
from enum import Enum
%matplotlib inline

# Source to Target Mapping - OOP Approach for Single Table

### Data

In [3]:

import json
with open("Glassdoor Gender.json", "r") as file:
    data = json.load(file)
    for item in data:
        item["id"] = str(item["id"])
data[:10]

[{'salary': 42363, 'id': '6789'},
 {'salary': 90208, 'id': '6790'},
 {'salary': 70890, 'id': '6791'},
 {'salary': 67585, 'id': '6792'},
 {'salary': 112976, 'id': '6793'},
 {'salary': 106524, 'id': '6794'},
 {'salary': 62759, 'id': '6795'},
 {'salary': 84007, 'id': '6796'},
 {'salary': 86220, 'id': '6797'},
 {'salary': 95584, 'id': '6798'}]

###  Abstract Base Calss (ABC) for mutual methods

In [4]:
class Interface(ABC):

    @abstractmethod
    def get_data_by_field(self, field_name):
        """Fetch the data by given feild name """

    @abstractmethod
    def get_data_by_id(self, id):
        """Fetch the data by given ID  """

    @abstractmethod
    def get(self):
        """Fetch all data """

### Transform Operations
inherithed from Enum - class that automatic enumrate the variables

In [6]:
class TransformMask(Enum):
    # add here any masks you want
    CLEAN_STRING = ".strip().lower()" 
    CAPITAL_LETTER = ".strip().lower().title()"
    CLEAN_NUM = ""

### Database Class - Define Common Properties for Source, Target, Mapping

In [7]:
class Database:
    def __init__(self):
        self.db = {
            "source": [],
            "destination": [],
            "transform": [],
            "mapping": []
        }
        self.add_source(1, "id", "str")
        self.add_destination(1, "id", "str")
        self.add_transform(1, "CLEAN_STRING")
        self.add_mapping(1, 1, 1, 1)
        self.add_source(2, "salary", "int")
        self.add_destination(2, "salary", "float")
        self.add_transform(2, "CLEAN_NUM")
        self.add_mapping(2, 2, 2, 2)

    
    def add_source(self, id, field, typ):
            self.db["source"].append({
                "id": id,
                "source_field_name": field,
                "source_field_mapping": field,
                "source_field_type": typ,
                "is_required": True,
            })
    
    def add_destination(self, id, field, typ):
        self.db["destination"].append({
            "id": id,
            "destination_field_name": field,
            "destination_field_mapping": field,
            "destination_field_type": typ,
            "default_value": "n/a", 
        })

    def add_transform(self, id, mask):
        self.db["transform"].append({
            "id": id,
            "transform_mask": mask,
        })

    def add_mapping(self, id, source, dest, transform):
      self.db["mapping"].append({
          "id": id,
          "mapping_source": source,
          "mapping_destination": dest,
          "mapping_transform": transform,
        })


    @property
    def get_data_source_target_mapping(self):
      return self.db

### Source class

Inherited from Interface for the common methods and from Database for common variables

In [8]:
class Source(Interface, Database):
    def __init__(self):
        Database.__init__(self)

    # should be implemented - inherited from Interface
    def get_data_by_field(self, field_name):
        data = self.get
        for item in data:
            for key, value in item.items():
                if key == field_name:
                    return item
        return None

    @property
    def get(self):
        return self.get_data_source_target_mapping.get("source")

    def get_data_by_id(self, id):
        self.id = id
        data = self.get
        for x in data:
            if x.get("id") == self.id:
                return x
        return None

### Target class

Inherited from Interface for the common methods and from Database for common variables

In [9]:
class Target(Interface, Database):

    def __init__(self):
        Database.__init__(self)

    # should be implemented - inherited from Interface
    def get_data_by_field(self, field_name):
        data = self.get
        for item in data:
            for key, value in item.items():
                if key == field_name:
                    return item
        return None

    @property
    def get(self):
        return self.get_data_source_target_mapping.get("destination")

    def get_data_by_id(self, id):
        self.id = id
        data = self.get
        for x in data:
            if x.get("id").__str__() == self.id.__str__():
                return x
        return None

### Transform Class

Inherited from Interface for the common methods and from Database for common variables

In [10]:
class Transform(Interface, Database):

    def __init__(self):
        Database.__init__(self)

    # should be implemented - inherited from Interface
    def get_data_by_field(self, field_name):
        data = self.get
        for item in data:
            for key, value in item.items():
                if key == field_name:
                    return item
        return None

    @property
    def get(self):
        return self.get_data_source_target_mapping.get("transform", [])

    def get_data_by_id(self, id):
        self.id = id
        data = self.get
        for x in data:
            if x.get("id").__str__() == self.id.__str__():
                return x
        return None

### Mapping class

Inherited from Interface for the common methods and from Database for common variables

In [11]:
class Mappings(Interface, Database):

    def __init__(self):
        Database.__init__(self)

    @property
    def get(self):
        return self.get_data_source_target_mapping.get("mapping")

    def get_data_by_id(self, id):
        self.id = id
        data = self.get
        for x in data:
            if x.get("id").__str__() == self.id.__str__():
                return x
        return None

    def get_data_by_field(self, field_name):
        return None

### Format Class - JSON

Search the source data value inside a JSON file

In [12]:
class JsonQuery:
    def __init__(self, json_path, json_data):
        self.json_path = json_path
        self.json_data = json_data

    def get(self):
        jsonpath_expression = parse(self.json_path)
        match = jsonpath_expression.find(self.json_data)
        source_data_value = match[0].value
        return source_data_value

### Combine it All - STTM

In [13]:
class STTM:
    def __init__(self, input_json):
        self.input_json = input_json
        self.mapping_instance = Mappings()
        self.source_instance = Source()
        self.destination_instance = Target()
        self.transform_instance = Transform()
        self.look_up_mask = {i.name: i.value for i in TransformMask}
        self.json_data_transformed = {}

    def _get_mapping_data(self):
        return self.mapping_instance.get

    def _get_mapping_source_data(self):
        return self.source_instance.get

    def get_transformed_data(self):

        for mappings in self._get_mapping_data():

            """fetch the source mapping """
            mapping_source_id = mappings.get("mapping_source")
            mapping_destination_id = mappings.get("mapping_destination")
            mapping_transform_id = mappings.get("mapping_transform")

            mapping_source_data = self.source_instance.get_data_by_id(id=mapping_source_id)
            transform_data = self.transform_instance.get_data_by_id(id=mapping_transform_id)

            """Fetch Source  field Name"""
            source_field_name = mapping_source_data.get("source_field_name")

            """if field given is not present incoming json """
            if source_field_name not in self.input_json.keys():
                if mapping_source_data.get("is_required"):
                    raise Exception(
                        "Alert ! Field {} is not present in JSON please FIX mappings ".format(source_field_name))
                else:
                    pass

            else:
                source_data_value = JsonQuery(
                    json_path=mapping_source_data.get("source_field_mapping"),
                    json_data=self.input_json
                ).get()

                """check the data type for source if matches with what we have """
                if mapping_source_data.get("source_field_type") != type(source_data_value).__name__:
                    if source_data_value is not None:
                        _message = (
                            "Alert ! Source Field :{} Datatype has changed from {} to {} ".format(source_field_name,
                                                                                                  mapping_source_data.get(
                                                                                                      "source_field_type"),
                                                                                                  type(
                                                                                                      source_data_value).__name__))
                        print(_message)
                        raise Exception(_message)

                """Query and fetch the Destination | target """
                destination_mappings_json_object = self.destination_instance.get_data_by_id(
                    id=mappings.get("mapping_destination"))

                destination_field_name = destination_mappings_json_object.get("destination_field_name")
                destination_field_type = destination_mappings_json_object.get("destination_field_type")

                dtypes = [str, float, list, int, set, dict]

                for dtype in dtypes:

                    """Datatype Conversion """
                    if destination_field_type == str(dtype.__name__):

                        """is source is none insert default value"""
                        if source_data_value is None:
                            self.json_data_transformed[destination_field_name] = dtype.__call__(
                                destination_mappings_json_object.get("default_value")
                            )

                        else:
                            """check if you have items to transform"""
                            if transform_data is not None:
                                """ check for invalid mask name """
                                if transform_data.get("transform_mask") not in list(self.look_up_mask.keys()):
                                    raise Exception(
                                        f"Specified Transform {transform_data.get('transform_mask')} is not available please select from following Options :{list(self.look_up_mask.keys())}")
                                else:
                                    mask_apply = self.look_up_mask.get(transform_data.get("transform_mask"))
                                    converted_dtype = dtype.__call__(source_data_value)
                                    mask = f'converted_dtype{mask_apply}'
                                    curated_value = eval(mask)
                                    self.json_data_transformed[destination_field_name] = curated_value

                            else:
                                self.json_data_transformed[destination_field_name] = dtype.__call__(source_data_value)

        return self.json_data_transformed

In [14]:
transformed_data = []
for item in data:
    helper = STTM(input_json=item)
    response = helper.get_transformed_data()
    transformed_data.append(response)
    print(response)

{'id': '6789', 'salary': 42363.0}
{'id': '6790', 'salary': 90208.0}
{'id': '6791', 'salary': 70890.0}
{'id': '6792', 'salary': 67585.0}
{'id': '6793', 'salary': 112976.0}
{'id': '6794', 'salary': 106524.0}
{'id': '6795', 'salary': 62759.0}
{'id': '6796', 'salary': 84007.0}
{'id': '6797', 'salary': 86220.0}
{'id': '6798', 'salary': 95584.0}
{'id': '6799', 'salary': 73357.0}
{'id': '6800', 'salary': 88422.0}
{'id': '6801', 'salary': 99545.0}
{'id': '6802', 'salary': 92067.0}
{'id': '6803', 'salary': 72038.0}
{'id': '6804', 'salary': 71182.0}
{'id': '6805', 'salary': 112392.0}
{'id': '6806', 'salary': 80306.0}
{'id': '6807', 'salary': 74523.0}
{'id': '6808', 'salary': 113252.0}
{'id': '6809', 'salary': 84638.0}
{'id': '6810', 'salary': 70643.0}
{'id': '6811', 'salary': 74167.0}
{'id': '6812', 'salary': 102120.0}
{'id': '6813', 'salary': 97376.0}
{'id': '6814', 'salary': 89415.0}
{'id': '6815', 'salary': 88037.0}
{'id': '6816', 'salary': 71105.0}
{'id': '6817', 'salary': 62692.0}
{'id': '6818', 'salary': 71193.0}
{'id': '6819', 'salary': 76286.0}
{'id': '6820', 'salary': 82453.0}
{'id': '6821', 'salary': 83034.0}
{'id': '6822', 'salary': 127085.0}
{'id': '6823', 'salary': 52633.0}
{'id': '6824', 'salary': 101154.0}
{'id': '6825', 'salary': 113640.0}
{'id': '6826', 'salary': 46263.0}
{'id': '6827', 'salary': 74938.0}
{'id': '6828', 'salary': 103384.0}
{'id': '6829', 'salary': 77584.0}
{'id': '6830', 'salary': 80192.0}
{'id': '6831', 'salary': 46693.0}
{'id': '6832', 'salary': 88152.0}
{'id': '6833', 'salary': 127156.0}
{'id': '6834', 'salary': 92622.0}
{'id': '6835', 'salary': 51331.0}
{'id': '6836', 'salary': 77032.0}
{'id': '6837', 'salary': 146190.0}
{'id': '6838', 'salary': 96045.0}
{'id': '6839', 'salary': 96061.0}
{'id': '6840', 'salary': 111342.0}
{'id': '6841', 'salary': 117554.0}
{'id': '6842', 'salary': 109369.0}
{'id': '6843', 'salary': 92358.0}
{'id': '6844', 'salary': 91978.0}
{'id': '6845', 'salary': 89822.0}
{'id': '6846', 'salary': 87684.0}
{'id': '6847', 'salary': 62040.0}
{'id': '6848', 'salary': 84132.0}
{'id': '6849', 'salary': 88047.0}
{'id': '6850', 'salary': 65012.0}
{'id': '6851', 'salary': 59251.0}
{'id': '6852', 'salary': 78462.0}
{'id': '6853', 'salary': 42722.0}
{'id': '6854', 'salary': 63695.0}
{'id': '6855', 'salary': 53956.0}
{'id': '6856', 'salary': 108495.0}
{'id': '6857', 'salary': 87608.0}
{'id': '6858', 'salary': 57469.0}
{'id': '6859', 'salary': 91049.0}
{'id': '6860', 'salary': 98519.0}
{'id': '6861', 'salary': 91713.0}
{'id': '6862', 'salary': 88994.0}
{'id': '6863', 'salary': 113180.0}
{'id': '6864', 'salary': 103763.0}
{'id': '6865', 'salary': 64844.0}
{'id': '6866', 'salary': 129132.0}
{'id': '6867', 'salary': 93470.0}
{'id': '6868', 'salary': 66529.0}
{'id': '6869', 'salary': 100115.0}
{'id': '6870', 'salary': 86423.0}
{'id': '6871', 'salary': 133495.0}
{'id': '6872', 'salary': 84844.0}
{'id': '6873', 'salary': 108241.0}
{'id': '6874', 'salary': 106478.0}
{'id': '6875', 'salary': 46903.0}
{'id': '6876', 'salary': 44325.0}
{'id': '6877', 'salary': 60070.0}
{'id': '6878', 'salary': 72542.0}
{'id': '6879', 'salary': 80981.0}
{'id': '6880', 'salary': 83499.0}
{'id': '6881', 'salary': 106788.0}
{'id': '6882', 'salary': 108922.0}
{'id': '6883', 'salary': 127062.0}
{'id': '6884', 'salary': 49830.0}
{'id': '6885', 'salary': 82338.0}
{'id': '6886', 'salary': 86036.0}
{'id': '6887', 'salary': 100070.0}
{'id': '6888', 'salary': 129609.0}
{'id': '6889', 'salary': 72827.0}
{'id': '6890', 'salary': 100416.0}
{'id': '6891', 'salary': 78623.0}
{'id': '6892', 'salary': 106158.0}
{'id': '6893', 'salary': 89411.0}
{'id': '6894', 'salary': 95687.0}
{'id': '6895', 'salary': 120294.0}
{'id': '6896', 'salary': 76773.0}
{'id': '6897', 'salary': 98010.0}
{'id': '6898', 'salary': 91099.0}
{'id': '6899', 'salary': 128970.0}
{'id': '6900', 'salary': 121376.0}
{'id': '6901', 'salary': 64008.0}
{'id': '6902', 'salary': 129406.0}
{'id': '6903', 'salary': 54245.0}
{'id': '6904', 'salary': 67530.0}
{'id': '6905', 'salary': 81826.0}
{'id': '6906', 'salary': 65711.0}
{'id': '6907', 'salary': 73801.0}
{'id': '6908', 'salary': 93268.0}
{'id': '6909', 'salary': 103133.0}
{'id': '6910', 'salary': 69254.0}
{'id': '6911', 'salary': 97000.0}
{'id': '6912', 'salary': 40341.0}
{'id': '6913', 'salary': 102247.0}
{'id': '6914', 'salary': 92722.0}
{'id': '6915', 'salary': 72120.0}
{'id': '6916', 'salary': 62260.0}
{'id': '6917', 'salary': 84021.0}
{'id': '6918', 'salary': 37026.0}
{'id': '6919', 'salary': 55954.0}
{'id': '6920', 'salary': 108820.0}
{'id': '6921', 'salary': 100014.0}
{'id': '6922', 'salary': 108288.0}
{'id': '6923', 'salary': 114007.0}
{'id': '6924', 'salary': 94973.0}
{'id': '6925', 'salary': 37780.0}
{'id': '6926', 'salary': 121210.0}
{'id': '6927', 'salary': 95169.0}
{'id': '6928', 'salary': 75901.0}
{'id': '6929', 'salary': 92276.0}
{'id': '6930', 'salary': 92458.0}
{'id': '6931', 'salary': 87435.0}
{'id': '6932', 'salary': 130251.0}
{'id': '6933', 'salary': 106560.0}
{'id': '6934', 'salary': 56172.0}
{'id': '6935', 'salary': 58807.0}
{'id': '6936', 'salary': 126626.0}
{'id': '6937', 'salary': 104202.0}
{'id': '6938', 'salary': 78750.0}
{'id': '6939', 'salary': 93306.0}
{'id': '6940', 'salary': 56745.0}
{'id': '6941', 'salary': 59458.0}
{'id': '6942', 'salary': 71824.0}
{'id': '6943', 'salary': 91568.0}
{'id': '6944', 'salary': 81995.0}
{'id': '6945', 'salary': 66125.0}
{'id': '6946', 'salary': 98321.0}
{'id': '6947', 'salary': 155203.0}
{'id': '6948', 'salary': 73306.0}
{'id': '6949', 'salary': 76865.0}
{'id': '6950', 'salary': 125770.0}
{'id': '6951', 'salary': 119931.0}
{'id': '6952', 'salary': 71794.0}
{'id': '6953', 'salary': 87998.0}
{'id': '6954', 'salary': 77275.0}
{'id': '6955', 'salary': 130720.0}
{'id': '6956', 'salary': 86675.0}
{'id': '6957', 'salary': 56954.0}
{'id': '6958', 'salary': 112491.0}
{'id': '6959', 'salary': 36548.0}
{'id': '6960', 'salary': 88781.0}
{'id': '6961', 'salary': 129226.0}
{'id': '6962', 'salary': 160614.0}
{'id': '6963', 'salary': 89570.0}
{'id': '6964', 'salary': 73989.0}
{'id': '6965', 'salary': 67762.0}
{'id': '6966', 'salary': 77751.0}
{'id': '6967', 'salary': 87150.0}
{'id': '6968', 'salary': 79291.0}
{'id': '6969', 'salary': 57070.0}
{'id': '6970', 'salary': 102201.0}
{'id': '6971', 'salary': 57782.0}
{'id': '6972', 'salary': 71772.0}
{'id': '6973', 'salary': 66438.0}
{'id': '6974', 'salary': 79674.0}
{'id': '6975', 'salary': 85161.0}
{'id': '6976', 'salary': 114479.0}
{'id': '6977', 'salary': 71946.0}
{'id': '6978', 'salary': 62054.0}
{'id': '6979', 'salary': 64624.0}
{'id': '6980', 'salary': 105410.0}
{'id': '6981', 'salary': 90005.0}
{'id': '6982', 'salary': 70374.0}
{'id': '6983', 'salary': 104355.0}
{'id': '6984', 'salary': 75811.0}
{'id': '6985', 'salary': 107025.0}
{'id': '6986', 'salary': 40056.0}
{'id': '6987', 'salary': 70846.0}
{'id': '6988', 'salary': 79707.0}
{'id': '6989', 'salary': 62377.0}
{'id': '6990', 'salary': 75932.0}
{'id': '6991', 'salary': 82755.0}
{'id': '6992', 'salary': 78021.0}
{'id': '6993', 'salary': 116758.0}
{'id': '6994', 'salary': 96500.0}
{'id': '6995', 'salary': 49632.0}
{'id': '6996', 'salary': 76700.0}
{'id': '6997', 'salary': 100516.0}
{'id': '6998', 'salary': 84935.0}
{'id': '6999', 'salary': 101249.0}
{'id': '7000', 'salary': 144146.0}
{'id': '7001', 'salary': 69268.0}
{'id': '7002', 'salary': 127561.0}
{'id': '7003', 'salary': 77223.0}
{'id': '7004', 'salary': 92080.0}
{'id': '7005', 'salary': 118762.0}
{'id': '7006', 'salary': 85398.0}
{'id': '7007', 'salary': 123172.0}
{'id': '7008', 'salary': 107476.0}
{'id': '7009', 'salary': 34208.0}
{'id': '7010', 'salary': 82345.0}
{'id': '7011', 'salary': 49303.0}
{'id': '7012', 'salary': 98456.0}
{'id': '7013', 'salary': 129885.0}
{'id': '7014', 'salary': 97797.0}
{'id': '7015', 'salary': 91566.0}
{'id': '7016', 'salary': 131608.0}
{'id': '7017', 'salary': 65750.0}
{'id': '7018', 'salary': 76806.0}
{'id': '7019', 'salary': 114733.0}
{'id': '7020', 'salary': 89170.0}
{'id': '7021', 'salary': 78751.0}
{'id': '7022', 'salary': 75518.0}
{'id': '7023', 'salary': 75294.0}
{'id': '7024', 'salary': 127608.0}
{'id': '7025', 'salary': 116069.0}
{'id': '7026', 'salary': 86122.0}
{'id': '7027', 'salary': 68300.0}
{'id': '7028', 'salary': 94590.0}
{'id': '7029', 'salary': 87418.0}
{'id': '7030', 'salary': 104082.0}
{'id': '7031', 'salary': 94354.0}
{'id': '7032', 'salary': 90713.0}
{'id': '7033', 'salary': 113009.0}
{'id': '7034', 'salary': 72030.0}
{'id': '7035', 'salary': 66203.0}
{'id': '7036', 'salary': 67210.0}
{'id': '7037', 'salary': 115383.0}
{'id': '7038', 'salary': 120697.0}
{'id': '7039', 'salary': 125770.0}
{'id': '7040', 'salary': 97846.0}
{'id': '7041', 'salary': 76522.0}
{'id': '7042', 'salary': 87131.0}
{'id': '7043', 'salary': 56656.0}
{'id': '7044', 'salary': 70157.0}
{'id': '7045', 'salary': 98366.0}
{'id': '7046', 'salary': 73798.0}
{'id': '7047', 'salary': 94763.0}
{'id': '7048', 'salary': 101534.0}
{'id': '7049', 'salary': 90426.0}
{'id': '7050', 'salary': 99369.0}
{'id': '7051', 'salary': 55845.0}
{'id': '7052', 'salary': 48570.0}
{'id': '7053', 'salary': 113274.0}
{'id': '7054', 'salary': 86241.0}
{'id': '7055', 'salary': 100433.0}
{'id': '7056', 'salary': 123242.0}
{'id': '7057', 'salary': 87585.0}
{'id': '7058', 'salary': 45747.0}
{'id': '7059', 'salary': 36972.0}
{'id': '7060', 'salary': 64754.0}
{'id': '7061', 'salary': 132267.0}
{'id': '7062', 'salary': 112507.0}
{'id': '7063', 'salary': 100316.0}
{'id': '7064', 'salary': 111120.0}
{'id': '7065', 'salary': 76523.0}
{'id': '7066', 'salary': 91160.0}
{'id': '7067', 'salary': 66935.0}
{'id': '7068', 'salary': 138365.0}
{'id': '7069', 'salary': 59006.0}
{'id': '7070', 'salary': 74305.0}
{'id': '7071', 'salary': 38451.0}
{'id': '7072', 'salary': 113465.0}
{'id': '7073', 'salary': 66377.0}
{'id': '7074', 'salary': 55569.0}
{'id': '7075', 'salary': 119033.0}
{'id': '7076', 'salary': 106315.0}
{'id': '7077', 'salary': 105598.0}
{'id': '7078', 'salary': 78084.0}
{'id': '7079', 'salary': 41603.0}
{'id': '7080', 'salary': 78002.0}
{'id': '7081', 'salary': 81866.0}
{'id': '7082', 'salary': 91711.0}
{'id': '7083', 'salary': 93805.0}
{'id': '7084', 'salary': 109931.0}
{'id': '7085', 'salary': 88365.0}
{'id': '7086', 'salary': 79334.0}
{'id': '7087', 'salary': 98512.0}
{'id': '7088', 'salary': 78910.0}
{'id': '7089', 'salary': 125574.0}
{'id': '7090', 'salary': 106963.0}
{'id': '7091', 'salary': 111770.0}
{'id': '7092', 'salary': 57672.0}
{'id': '7093', 'salary': 97768.0}
{'id': '7094', 'salary': 76103.0}
{'id': '7095', 'salary': 93441.0}
{'id': '7096', 'salary': 108366.0}
{'id': '7097', 'salary': 85453.0}
{'id': '7098', 'salary': 79765.0}
{'id': '7099', 'salary': 129683.0}
{'id': '7100', 'salary': 76908.0}
{'id': '7101', 'salary': 93696.0}
{'id': '7102', 'salary': 83095.0}
{'id': '7103', 'salary': 81325.0}
{'id': '7104', 'salary': 102106.0}
{'id': '7105', 'salary': 80635.0}
{'id': '7106', 'salary': 73404.0}
{'id': '7107', 'salary': 133741.0}
{'id': '7108', 'salary': 104329.0}
{'id': '7109', 'salary': 102745.0}
{'id': '7110', 'salary': 146008.0}
{'id': '7111', 'salary': 68364.0}
{'id': '7112', 'salary': 96584.0}
{'id': '7113', 'salary': 102265.0}
{'id': '7114', 'salary': 81249.0}
{'id': '7115', 'salary': 101791.0}
{'id': '7116', 'salary': 77584.0}
{'id': '7117', 'salary': 88175.0}
{'id': '7118', 'salary': 65816.0}
{'id': '7119', 'salary': 73685.0}
{'id': '7120', 'salary': 55560.0}
{'id': '7121', 'salary': 106452.0}
{'id': '7122', 'salary': 87575.0}
{'id': '7123', 'salary': 113140.0}
{'id': '7124', 'salary': 100505.0}
{'id': '7125', 'salary': 104589.0}
{'id': '7126', 'salary': 61081.0}
{'id': '7127', 'salary': 79237.0}
{'id': '7128', 'salary': 108475.0}
{'id': '7129', 'salary': 99942.0}
{'id': '7130', 'salary': 108296.0}
{'id': '7131', 'salary': 126370.0}
{'id': '7132', 'salary': 122142.0}
{'id': '7133', 'salary': 75919.0}
{'id': '7134', 'salary': 103416.0}
{'id': '7135', 'salary': 104468.0}
{'id': '7136', 'salary': 117202.0}
{'id': '7137', 'salary': 139141.0}
{'id': '7138', 'salary': 134109.0}
{'id': '7139', 'salary': 66887.0}
{'id': '7140', 'salary': 124847.0}
{'id': '7141', 'salary': 50758.0}
{'id': '7142', 'salary': 75316.0}
{'id': '7143', 'salary': 111502.0}
{'id': '7144', 'salary': 116642.0}
{'id': '7145', 'salary': 113283.0}
{'id': '7146', 'salary': 86538.0}
{'id': '7147', 'salary': 77742.0}
{'id': '7148', 'salary': 114171.0}
{'id': '7149', 'salary': 106204.0}
{'id': '7150', 'salary': 111041.0}
{'id': '7151', 'salary': 95795.0}
{'id': '7152', 'salary': 98575.0}
{'id': '7153', 'salary': 117131.0}
{'id': '7154', 'salary': 38613.0}
{'id': '7155', 'salary': 62866.0}
{'id': '7156', 'salary': 108731.0}
{'id': '7157', 'salary': 47739.0}
{'id': '7158', 'salary': 64920.0}
{'id': '7159', 'salary': 79177.0}
{'id': '7160', 'salary': 136215.0}
{'id': '7161', 'salary': 63327.0}
{'id': '7162', 'salary': 52578.0}
{'id': '7163', 'salary': 114436.0}
{'id': '7164', 'salary': 99543.0}
{'id': '7165', 'salary': 60983.0}
{'id': '7166', 'salary': 55885.0}
{'id': '7167', 'salary': 107064.0}
{'id': '7168', 'salary': 107370.0}
{'id': '7169', 'salary': 39741.0}
{'id': '7170', 'salary': 103242.0}
{'id': '7171', 'salary': 120112.0}
{'id': '7172', 'salary': 83308.0}
{'id': '7173', 'salary': 36585.0}
{'id': '7174', 'salary': 115344.0}
{'id': '7175', 'salary': 96982.0}
{'id': '7176', 'salary': 80030.0}
{'id': '7177', 'salary': 84047.0}
{'id': '7178', 'salary': 84764.0}
{'id': '7179', 'salary': 120277.0}
{'id': '7180', 'salary': 81661.0}
{'id': '7181', 'salary': 149893.0}
{'id': '7182', 'salary': 130417.0}
{'id': '7183', 'salary': 38855.0}
{'id': '7184', 'salary': 96232.0}
{'id': '7185', 'salary': 86563.0}
{'id': '7186', 'salary': 72248.0}
{'id': '7187', 'salary': 125828.0}
{'id': '7188', 'salary': 75017.0}
{'id': '7189', 'salary': 100415.0}
{'id': '7190', 'salary': 145095.0}
{'id': '7191', 'salary': 115641.0}
{'id': '7192', 'salary': 119058.0}
{'id': '7193', 'salary': 106722.0}
{'id': '7194', 'salary': 91129.0}
{'id': '7195', 'salary': 92891.0}
{'id': '7196', 'salary': 141005.0}
{'id': '7197', 'salary': 131411.0}
{'id': '7198', 'salary': 96900.0}
{'id': '7199', 'salary': 88820.0}
{'id': '7200', 'salary': 112489.0}
{'id': '7201', 'salary': 53839.0}
{'id': '7202', 'salary': 64807.0}
{'id': '7203', 'salary': 41151.0}
{'id': '7204', 'salary': 114031.0}
{'id': '7205', 'salary': 119893.0}
{'id': '7206', 'salary': 94154.0}
{'id': '7207', 'salary': 114906.0}
{'id': '7208', 'salary': 115981.0}
{'id': '7209', 'salary': 93018.0}
{'id': '7210', 'salary': 69928.0}
{'id': '7211', 'salary': 104623.0}
{'id': '7212', 'salary': 63914.0}
{'id': '7213', 'salary': 90474.0}
{'id': '7214', 'salary': 60026.0}
{'id': '7215', 'salary': 108587.0}
{'id': '7216', 'salary': 139042.0}
{'id': '7217', 'salary': 101423.0}
{'id': '7218', 'salary': 95995.0}
{'id': '7219', 'salary': 99472.0}
{'id': '7220', 'salary': 135638.0}
{'id': '7221', 'salary': 121457.0}
{'id': '7222', 'salary': 114141.0}
{'id': '7223', 'salary': 107572.0}
{'id': '7224', 'salary': 142505.0}
{'id': '7225', 'salary': 106279.0}
{'id': '7226', 'salary': 106916.0}
{'id': '7227', 'salary': 92257.0}
{'id': '7228', 'salary': 59377.0}
{'id': '7229', 'salary': 76726.0}
{'id': '7230', 'salary': 112502.0}
{'id': '7231', 'salary': 101515.0}
{'id': '7232', 'salary': 67089.0}
{'id': '7233', 'salary': 97789.0}
{'id': '7234', 'salary': 54945.0}
{'id': '7235', 'salary': 121239.0}
{'id': '7236', 'salary': 87314.0}
{'id': '7237', 'salary': 124530.0}
{'id': '7238', 'salary': 67150.0}
{'id': '7239', 'salary': 63300.0}
{'id': '7240', 'salary': 60271.0}
{'id': '7241', 'salary': 66028.0}
{'id': '7242', 'salary': 91300.0}
{'id': '7243', 'salary': 90999.0}
{'id': '7244', 'salary': 86795.0}
{'id': '7245', 'salary': 110627.0}
{'id': '7246', 'salary': 97696.0}
{'id': '7247', 'salary': 62738.0}
{'id': '7248', 'salary': 112169.0}
{'id': '7249', 'salary': 98796.0}
{'id': '7250', 'salary': 96665.0}
{'id': '7251', 'salary': 91030.0}
{'id': '7252', 'salary': 106945.0}
{'id': '7253', 'salary': 81545.0}
{'id': '7254', 'salary': 80789.0}
{'id': '7255', 'salary': 85253.0}
{'id': '7256', 'salary': 62644.0}
{'id': '7257', 'salary': 108476.0}
{'id': '7258', 'salary': 108080.0}
{'id': '7259', 'salary': 99464.0}
{'id': '7260', 'salary': 97523.0}
{'id': '7261', 'salary': 102261.0}
{'id': '7262', 'salary': 90386.0}
{'id': '7263', 'salary': 108446.0}
{'id': '7264', 'salary': 83323.0}
{'id': '7265', 'salary': 85205.0}
{'id': '7266', 'salary': 132823.0}
{'id': '7267', 'salary': 100305.0}
{'id': '7268', 'salary': 88566.0}
{'id': '7269', 'salary': 104271.0}
{'id': '7270', 'salary': 66359.0}
{'id': '7271', 'salary': 103007.0}
{'id': '7272', 'salary': 96040.0}
{'id': '7273', 'salary': 91674.0}
{'id': '7274', 'salary': 92928.0}
{'id': '7275', 'salary': 78986.0}
{'id': '7276', 'salary': 96355.0}
{'id': '7277', 'salary': 87121.0}
{'id': '7278', 'salary': 88724.0}
{'id': '7279', 'salary': 58219.0}
{'id': '7280', 'salary': 119024.0}
{'id': '7281', 'salary': 81503.0}
{'id': '7282', 'salary': 86886.0}
{'id': '7283', 'salary': 90780.0}
{'id': '7284', 'salary': 89474.0}
{'id': '7285', 'salary': 112466.0}
{'id': '7286', 'salary': 97328.0}
{'id': '7287', 'salary': 86766.0}
{'id': '7288', 'salary': 88814.0}
{'id': '7289', 'salary': 82832.0}
{'id': '7290', 'salary': 66168.0}
{'id': '7291', 'salary': 59212.0}
{'id': '7292', 'salary': 55189.0}
{'id': '7293', 'salary': 131311.0}
{'id': '7294', 'salary': 50401.0}
{'id': '7295', 'salary': 83031.0}
{'id': '7296', 'salary': 111019.0}
{'id': '7297', 'salary': 48755.0}
{'id': '7298', 'salary': 59044.0}
{'id': '7299', 'salary': 146615.0}
{'id': '7300', 'salary': 69462.0}
{'id': '7301', 'salary': 119162.0}
{'id': '7302', 'salary': 68466.0}
{'id': '7303', 'salary': 109419.0}
{'id': '7304', 'salary': 80355.0}
{'id': '7305', 'salary': 82534.0}
{'id': '7306', 'salary': 127769.0}
{'id': '7307', 'salary': 52290.0}
{'id': '7308', 'salary': 47036.0}
{'id': '7309', 'salary': 76517.0}
{'id': '7310', 'salary': 90368.0}
{'id': '7311', 'salary': 106194.0}
{'id': '7312', 'salary': 97414.0}
{'id': '7313', 'salary': 110731.0}
{'id': '7314', 'salary': 125572.0}
{'id': '7315', 'salary': 72754.0}
{'id': '7316', 'salary': 135013.0}
{'id': '7317', 'salary': 101173.0}
{'id': '7318', 'salary': 126828.0}
{'id': '7319', 'salary': 102716.0}
{'id': '7320', 'salary': 77793.0}
{'id': '7321', 'salary': 83758.0}
{'id': '7322', 'salary': 40187.0}
{'id': '7323', 'salary': 98531.0}
{'id': '7324', 'salary': 104435.0}
{'id': '7325', 'salary': 67617.0}
{'id': '7326', 'salary': 119381.0}
{'id': '7327', 'salary': 68639.0}
{'id': '7328', 'salary': 68295.0}
{'id': '7329', 'salary': 103107.0}
{'id': '7330', 'salary': 97625.0}
{'id': '7331', 'salary': 115165.0}
{'id': '7332', 'salary': 86516.0}
{'id': '7333', 'salary': 69855.0}
{'id': '7334', 'salary': 114421.0}
{'id': '7335', 'salary': 79208.0}
{'id': '7336', 'salary': 142105.0}
{'id': '7337', 'salary': 57783.0}
{'id': '7338', 'salary': 71858.0}
{'id': '7339', 'salary': 100183.0}
{'id': '7340', 'salary': 61000.0}
{'id': '7341', 'salary': 109623.0}
{'id': '7342', 'salary': 110049.0}
{'id': '7343', 'salary': 120593.0}
{'id': '7344', 'salary': 90685.0}
{'id': '7345', 'salary': 106896.0}
{'id': '7346', 'salary': 129425.0}
{'id': '7347', 'salary': 93073.0}
{'id': '7348', 'salary': 87352.0}
{'id': '7349', 'salary': 139760.0}
{'id': '7350', 'salary': 102815.0}
{'id': '7351', 'salary': 101262.0}
{'id': '7352', 'salary': 58054.0}
{'id': '7353', 'salary': 100091.0}
{'id': '7354', 'salary': 103479.0}
{'id': '7355', 'salary': 74073.0}
{'id': '7356', 'salary': 64852.0}
{'id': '7357', 'salary': 106887.0}
{'id': '7358', 'salary': 77309.0}
{'id': '7359', 'salary': 88482.0}
{'id': '7360', 'salary': 80135.0}
{'id': '7361', 'salary': 57398.0}
{'id': '7362', 'salary': 107140.0}
{'id': '7363', 'salary': 89559.0}
{'id': '7364', 'salary': 120156.0}
{'id': '7365', 'salary': 102966.0}
{'id': '7366', 'salary': 112941.0}
{'id': '7367', 'salary': 102736.0}
{'id': '7368', 'salary': 90024.0}
{'id': '7369', 'salary': 75506.0}
{'id': '7370', 'salary': 61164.0}

In [15]:
pd.DataFrame(transformed_data)

       id    salary
0    6789   42363.0
1    6790   90208.0
2    6791   70890.0
3    6792   67585.0
4    6793  112976.0
..    ...       ...
995  7784  102593.0
996  7785  108977.0
997  7786   92347.0
998  7787   97376.0
999  7788  123108.0

[1000 rows x 2 columns]